In [1]:
import numpy as np
from scipy.stats import chi2_contingency
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\sanjay\\Documents\\All working files\\data\\Titanin_train.csv')
df[['Survived','Sex']].head()

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

### we want to Know is there any relation between Sex and Survived
##### H0: there is no relation between sex and survived
##### H1: there is a relation between sex and survived

In [4]:
# contingency table
observed_frequencies = pd.crosstab(index=df['Sex'],columns=df['Survived'],margins=True)
observed_frequencies

Survived    0    1  All
Sex
female     81  233  314
male      468  109  577
All       549  342  891

In [5]:
chi2_stat, p_val, dof, expected_freq = chi2_contingency(observed_frequencies)
print("Chi-square statistic:", chi2_stat)
print("P-value:", p_val)

Chi-square statistic: 263.05057407065567
P-value: 1.0036732821369115e-55

In [24]:
print("Expected frequencies:")
print(expected_freq)
print("Chi-square statistic:", chi2_stat)
print("P-value:", p_val)
print("Degrees of freedom:", dof)

Expected frequencies:
[[193.47474747 120.52525253 314.        ]
 [355.52525253 221.47474747 577.        ]
 [549.         342.         891.        ]]
Chi-square statistic: 263.05057407065567
P-value: 1.0036732821369115e-55
Degrees of freedom: 4

#### since p-value < 0.05 we reject the null hypothesis and concluded that there is a relation between sex and survived

### friedman test

Null Hypothesis (H0): There is no significant difference in the effectiveness of the three teaching methods.

Alternate Hypothesis (H1): There is a significant difference in the effectiveness of the three teaching methods.

In [33]:
from scipy.stats import friedmanchisquare

# Scores for each method
method_A = [95, 62, 64, 59, 51, 82, 94, 60, 63, 51, 52, 98, 99,61, 78, 75, 84,73, 75, 53, 75, 77, 70, 56, 90, 68, 83, 73, 72, 64]
method_B = [75, 91, 76, 98, 84, 69, 83, 81, 99, 93, 77, 84, 74,59, 86, 58, 89,80, 77, 83, 86, 77, 97, 99, 92, 97, 73, 92, 55, 71]
method_C = [52, 84, 91, 99, 70, 91, 66, 50, 81, 84, 93, 88, 97,81, 88, 55, 94,81, 79, 84, 72, 62, 64, 73, 98, 54, 60, 70, 56, 97]

# Perform the Friedman test
chi2_stat, p_val = friedmanchisquare(method_A, method_B, method_C)

# Print results
print("Friedman test statistic:", chi2_stat)
print("P-value:", p_val)

Friedman test statistic: 3.042016806722674
P-value: 0.21849144831445935

In [32]:
np.random.randint(50,100,size=30)

array([52, 84, 91, 99, 70, 91, 66, 50, 81, 84, 93, 88, 97, 81, 88, 55, 94,
       81, 79, 84, 72, 62, 64, 73, 98, 54, 60, 70, 56, 97])

In [35]:
df = pd.read_clipboard()

In [38]:
df.to_csv('C:\\Users\\sanjay\\Documents\\All working files\\students.csv',index=False)