In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\sanja\\Downloads\\games.csv")
df.sample(5)

,id,name,released,added,playtime,reviews_count,ratings_count,rating
17135,47167,Space Way,2017-10-17,69,4,1,1,0.00
11306,60524,Elsword Free-to-Play,2018-06-14,138,1,13,13,2.46
14753,11965,Last Will,2016-08-29,90,3,2,2,0.00
4581,20725,Marlow Briggs and the Mask of Death,2013-09-20,592,1,39,38,3.26
3891,23501,Underhero,2018-09-18,727,1,25,24,3.68

In [3]:
df.shape

(20580, 8)

In [4]:
df.isnull().sum()

id                 0
name               0
released         686
added              0
playtime           0
reviews_count      0
ratings_count      0
rating             0
dtype: int64

In [6]:
df = df.drop(['released'],axis=1)

In [7]:
df.isnull().sum()

id               0
name             0
added            0
playtime         0
reviews_count    0
ratings_count    0
rating           0
dtype: int64

In [6]:
df['name'].unique()

array(['Grand Theft Auto V', 'The Witcher 3: Wild Hunt', 'Portal 2', ...,
       'EDEN STAR', 'Super Jagua', 'Sleengster'], dtype=object)

In [7]:
df['reviews_count'].max()

6421

In [8]:
df['name'][df['reviews_count'].max()]

'Fall of Civilization'

In [10]:
df['playtime'].max()

900

In [9]:
df['name'][df['playtime'].max()]

'Braid'

In [11]:
df.columns

Index(['id', 'name', 'released', 'added', 'playtime', 'reviews_count',
       'ratings_count', 'rating'],
      dtype='object')

In [12]:
df['rating'].max()

4.8