In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("C:\\Users\\sanja\\Downloads\\mobile_prices_2023.csv")
df.drop(columns=['Processor',"Date of Scraping"], inplace=True)

In [3]:
df.head()

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Price in INR
0,"POCO C50 (Royal Blue, 32 GB)",4.2,"33,561",2 GB RAM,32 GB ROM,8MP Dual Camera,5MP Front Camera,5000 mAh,"₹5,649"
1,"POCO M4 5G (Cool Blue, 64 GB)",4.2,"77,128",4 GB RAM,64 GB ROM,50MP + 2MP,8MP Front Camera,5000 mAh,"₹11,999"
2,"POCO C51 (Royal Blue, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,"₹6,999"
3,"POCO C55 (Cool Blue, 64 GB)",4.2,"22,621",4 GB RAM,64 GB ROM,50MP Dual Rear Camera,5MP Front Camera,5000 mAh,"₹7,749"
4,"POCO C51 (Power Black, 64 GB)",4.3,"15,175",4 GB RAM,64 GB ROM,8MP Dual Rear Camera,5MP Front Camera,5000 mAh,"₹6,999"

In [4]:
df['Phone Name'] = df['Phone Name'].str.split(" ").str[0]

In [6]:
df['Phone Name'].unique()

array(['POCO', 'realme', 'Realme', 'APPLE', 'Apple', 'SAMSUNG', 'OPPO',
       'Google', 'vivo', 'Nothing', 'REDMI', 'Redmi', 'Mi', 'Xiaomi',
       '10A', '�9A', 'Nokia', 'MOTOROLA', 'A10E', 'Motorola', 'a', 'Moto',
       'OnePlus', 'Huawei', 'Nexus', 'Alcatel', 'Lenovo', 'Infinix'],
      dtype=object)

In [7]:
df['Phone Name'].replace(['realme', 'APPLE', 'REDMI', 'Mi', 'Xiaomi','MOTOROLA', 'Moto'], 
                        ['Realme','Apple', 'Redmi', 'Redmi', 'Redmi', 'Motorola', 'Motorola'], inplace = True)

In [8]:
df['Phone Name'].unique()

array(['POCO', 'Realme', 'Apple', 'SAMSUNG', 'OPPO', 'Google', 'vivo',
       'Nothing', 'Redmi', '10A', '�9A', 'Nokia', 'Motorola', 'A10E', 'a',
       'OnePlus', 'Huawei', 'Nexus', 'Alcatel', 'Lenovo', 'Infinix'],
      dtype=object)

In [9]:
le = LabelEncoder()

In [10]:
df['Phone Name'] = le.fit_transform(df['Phone Name'])

In [11]:
df['RAM'] = df['RAM'].str.split(" ").str[0]

In [12]:
df['ROM/Storage'] = df['ROM/Storage'].str.split(" ").str[0]

In [13]:
df['Battery'] = df['Battery'].str.split(" ").str[0]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836 entries, 0 to 1835
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1836 non-null   int32
 1   Rating ?/5         1836 non-null   float64
 2   Number of Ratings  1836 non-null   object
 3   RAM                1836 non-null   object
 4   ROM/Storage        1662 non-null   object
 5   Back/Rare Camera   1827 non-null   object
 6   Front Camera       1435 non-null   object
 7   Battery            1826 non-null   object
 8   Price in INR       1836 non-null   object
dtypes: float64(1), int32(1), object(7)
memory usage: 122.0+ KB

In [15]:
df.isnull().sum()

Phone Name             0
Rating ?/5             0
Number of Ratings      0
RAM                    0
ROM/Storage          174
Back/Rare Camera       9
Front Camera         401
Battery               10
Price in INR           0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
df.isnull().sum()

Phone Name           0
Rating ?/5           0
Number of Ratings    0
RAM                  0
ROM/Storage          0
Back/Rare Camera     0
Front Camera         0
Battery              0
Price in INR         0
dtype: int64

In [18]:
df['RAM'] = pd.to_numeric(df['RAM'])

In [19]:
df['Number of Ratings'] = df['Number of Ratings'].str.replace(",","")
df['Number of Ratings'] = pd.to_numeric(df['Number of Ratings'])

In [20]:
df['RAM'] = pd.to_numeric(df['RAM'])

In [21]:
df = df[df['ROM/Storage'] != "NA"]
df['ROM/Storage'] = pd.to_numeric(df['ROM/Storage'])

In [22]:
df['Battery'] = pd.to_numeric(df['Battery'])

In [23]:
df['Price in INR'] = df['Price in INR'].str.replace("₹","").str.replace(",","")
df['Price in INR'] = pd.to_numeric(df['Price in INR'])

In [29]:
df['Back/Rare Camera'] = df['Back/Rare Camera'].str.split("").str[1]

In [31]:
df['Back/Rare Camera'] = pd.to_numeric(df['Back/Rare Camera'])

In [36]:
df['Front Camera'] = df['Front Camera'].str.split("").str[1]

In [39]:
df['Front Camera'] = pd.to_numeric(df['Front Camera'])

In [40]:
df

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Price in INR
0,14,4.2,33561,2.0,32,8,5,5000,5649
1,14,4.2,77128,4.0,64,5,8,5000,11999
2,14,4.3,15175,4.0,64,8,5,5000,6999
3,14,4.2,22621,4.0,64,5,5,5000,7749
4,14,4.3,15175,4.0,64,8,5,5000,6999
...,...,...,...,...,...,...,...,...,...
1831,6,4.3,25582,4.0,64,4,1,5000,14999
1832,6,4.3,25582,4.0,64,4,1,5000,14999
1833,6,4.3,25582,4.0,64,4,1,5000,14999
1834,6,4.2,7117,8.0,128,4,1,4500,18999
1835,6,4.3,15701,4.0,64,1,3,4000,10999

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1290 entries, 0 to 1835
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Phone Name         1290 non-null   int32
 1   Rating ?/5         1290 non-null   float64
 2   Number of Ratings  1290 non-null   int64
 3   RAM                1290 non-null   float64
 4   ROM/Storage        1290 non-null   int64
 5   Back/Rare Camera   1290 non-null   int64
 6   Front Camera       1290 non-null   int64
 7   Battery            1290 non-null   int64
 8   Price in INR       1290 non-null   int64
dtypes: float64(2), int32(1), int64(6)
memory usage: 95.7 KB

In [42]:
df.corr()

,Phone Name,Rating ?/5,Number of Ratings,RAM,ROM/Storage,Back/Rare Camera,Front Camera,Battery,Price in INR
Phone Name,1.000000,0.194646,0.071139,-0.126502,0.201947,0.023509,-0.080137,0.029327,0.144256
Rating ?/5,0.194646,1.000000,0.130734,-0.216093,0.023639,-0.033372,0.021752,0.080119,-0.024123
Number of Ratings,0.071139,0.130734,1.000000,-0.050390,-0.254963,-0.146947,0.082420,-0.047393,-0.211956
RAM,-0.126502,-0.216093,-0.050390,1.000000,-0.014782,0.063854,-0.103842,-0.216657,0.024411
ROM/Storage,0.201947,0.023639,-0.254963,-0.014782,1.000000,0.206250,-0.346525,0.088971,0.675516
Back/Rare Camera,0.023509,-0.033372,-0.146947,0.063854,0.206250,1.000000,-0.185223,0.131435,0.047752
Front Camera,-0.080137,0.021752,0.082420,-0.103842,-0.346525,-0.185223,1.000000,0.162252,-0.314736
Battery,0.029327,0.080119,-0.047393,-0.216657,0.088971,0.131435,0.162252,1.000000,-0.146502
Price in INR,0.144256,-0.024123,-0.211956,0.024411,0.675516,0.047752,-0.314736,-0.146502,1.000000

In [43]:
X = df.drop(columns=['Price in INR'], axis=1)
y = df['Price in INR']

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=2)

In [47]:
model = LinearRegression()

In [48]:
model.fit(X_train , y_train)

LinearRegression()

In [50]:
predictions = model.predict(X_test)

In [51]:
r2_score(y_test, predictions)

0.42780724125378455

In [52]:
np.sqrt(mean_squared_error(y_test, predictions))

8170.05250910769

In [3]:
df = sns.load_dataset('iris')

In [10]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [5]:
le = LabelEncoder()

In [8]:
df['species'] = le.fit_transform(df['species'])

In [11]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [13]:
X = df.drop(columns=['species'], axis=1)
y = df['species']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=2)

In [15]:
model = LinearRegression()

In [16]:
model.fit(X_train, y_train)

LinearRegression()

In [17]:
predict = model.predict(X_test)

In [18]:
r2_score(y_test, predict)

0.9371534629740856

In [19]:
np.sqrt(mean_squared_error(y_test, predict))

0.2087429016868214