In [1]:
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.tree import DecisionTreeClassifier

In [4]:
df = pd.read_csv("C:\\Users\\sanja\\OneDrive\\Pictures\\excel\\train.csv")

In [5]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [8]:
df.columns

Index(['Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

In [10]:
df.drop(columns=['Occupation','Stay_In_Current_City_Years','Marital_Status','Product_Category_1','Product_Category_2','Product_Category_3'],inplace=True)

In [11]:
df.head()

  Gender   Age City_Category  Purchase
0      F  0-17             A      8370
1      F  0-17             A     15200
2      F  0-17             A      1422
3      F  0-17             A      1057
4      M   55+             C      7969

In [12]:
df.isnull().sum()

Gender           0
Age              0
City_Category    0
Purchase         0
dtype: int64

In [13]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [16]:
ohe_gender = OneHotEncoder(sparse=False,handle_unknown='ignore')
transformed_gender = ohe_gender.fit_transform(df[['Gender']])

c:\Users\sanja\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [17]:
ohe_city = OneHotEncoder(sparse=False,handle_unknown='ignore')
transformed_city = ohe_city.fit_transform(df[['City_Category']])

c:\Users\sanja\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [18]:
transformed_city

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       ...,
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [21]:
new_df = np.concatenate((df,transformed_gender,transformed_city),axis=1)
new_df

array([['F', '0-17', 'A', ..., 1.0, 0.0, 0.0],
       ['F', '0-17', 'A', ..., 1.0, 0.0, 0.0],
       ['F', '0-17', 'A', ..., 1.0, 0.0, 0.0],
       ...,
       ['F', '26-35', 'B', ..., 0.0, 1.0, 0.0],
       ['F', '55+', 'C', ..., 0.0, 0.0, 1.0],
       ['F', '46-50', 'B', ..., 0.0, 1.0, 0.0]], dtype=object)