In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:\\Users\\sanjay\\Documents\\All working files\\data\\swiggy_scrap_uncleaned.csv')
df

,hotel_name,rating_and_delivery_time,food_type,location,offer
0,McDonald's,4.5 • 27 mins,"Burgers, Beverages, Cafe, Desserts",Kandivali East,30% OFF UPTO ₹75
1,KFC,4.2 • 30 mins,"Burgers, Biryani, American, Snacks, Fast Food",Kandivali East,40% OFF UPTO ₹80
2,Domino's Pizza,4.3 • 25 mins,"Pizzas, Italian, Pastas, Desserts",Thakur Village,₹150 OFF ABOVE ₹299
3,Charcoal Eats - Biryani & Beyond,4.3 • 24 mins,"Biryani, Kebabs, Hyderabadi, North Indian",Malad Kan East,50% OFF UPTO ₹100
4,Sandwizzaa,4.6 • 22 mins,"Snacks, Fast Food, Beverages, Jain",Kandivali East,60% OFF UPTO ₹120
...,...,...,...,...,...
1744,Allspice,3.8 • 48 mins,"North Indian, Chinese, Biryani, Tandoor",Kandivali west,20% OFF ABOVE ₹700
1745,Poddar Cuisine,4.6 • 52 mins,"Chinese, Biryani, Beverages",Malad Kan West,
1746,JUG's Kitchen,4 • 48 mins,"Indian, Lebanese, Mughlai, Chinese",Goregaon East,₹250 OFF ABOVE ₹999
1747,Choco Magic Patisserie & Confectioners Studio,4.1 • 43 mins,"Desserts, Beverages",Malad West,
1748,Yogita Restaurant,3.9 • 58 mins,"Indian, Chinese, Tandoor, Seafood",Malad Kan West,

In [9]:
rating = df['rating_and_delivery_time'].str.strip().str.split('•').str[0]

In [10]:
df.insert(1,'rating',rating)

In [20]:
time_minutes = df['rating_and_delivery_time'].str.strip().str.split('•').str[1].str.strip().str.split(" ").str[0]

In [21]:
df.insert(2,'time_minutes',time_minutes)

In [23]:
df.drop(columns=['rating_and_delivery_time'],inplace=True)

In [31]:
df.shape

(1749, 6)

In [30]:
df[df['offer'] == ' ']

,hotel_name,rating,time_minutes,food_type,location,offer
7,Love & Cheesecake,4.5,14,Desserts,Kandivali East,
10,Atta Girl,4.7,27,South Indian,Malad West,
12,Poetry By Love & Cheesecake,4.4,34,Desserts,Kandivali West,
13,Havmor Havfunn Ice Cream,4.6,18,"Ice Cream, Ice Cream Cakes, Desserts, Beverages",Malad Kan East,
15,McDonald's Gourmet Burger Collection,4.3,26,"Burgers, Beverages, Cafe, Desserts",Malad Kan East,
...,...,...,...,...,...,...
1742,Warehouse Kitchen,4.3,57,"North Indian, Continental, Fast Food, Italian,...",Malad West,
1743,China Castle,3.7,71,"Chinese, North Indian",Jog Gor East,
1745,Poddar Cuisine,4.6,52,"Chinese, Biryani, Beverages",Malad Kan West,
1747,Choco Magic Patisserie & Confectioners Studio,4.1,43,"Desserts, Beverages",Malad West,
1748,Yogita Restaurant,3.9,58,"Indian, Chinese, Tandoor, Seafood",Malad Kan West,

In [33]:
df['offer'].replace(' ','not_available',inplace=True)

In [52]:
offer_above = df['offer'].str.strip().str.split('₹').str[-1]

In [54]:
df.insert(5,'offer_above',offer_above)

In [61]:
def extract_percentage(value):
    if '%' in value:
        return value
    else:
        return 'not_available'

In [74]:
offer_percentage = df['offer'].apply(extract_percentage).str.strip().str.split('%').str[0]

In [75]:
df.insert(6,'offer_percentage',offer_percentage)

In [78]:
df.drop(columns=['offer'],inplace=True)

In [80]:
df.to_csv('C:\\Users\\sanjay\\Documents\\All working files\\data\\swiggy_cleaned.csv',index=False)